<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht=device-widht, initial-scale=1">

    <title>{% block title %}IT Helpdesk{% endblock %}</title>

    <link
        href="https://cdn.jsdelivr.net/npm/bootsrap@5.3.3/dist/css/boostrap.min.css"
        rel="stylesheet"
    >    
</head>

<body class="bg-light">

    <nav class="navbar navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="/">
                IT Helpdesk
            </a>

            <br>
            
            <div class="d-flex align-items-center gap-2">

                {% if session.get("user_id") %}

                    <span class="text-white">
                        Přihlášen: 
                        {{ session.get("username") }}
                        ({{ session.get("role") }})
                    </span>

                    <a class="btn btn-success" href="/new">
                        + Nový ticket
                    </a>

                    <a class="btn btn-outline-light" href="/logout">
                        Odhlásit
                    </a>

                {% else %}

                    <a class="btn btn-outline-light" href="/login">
                        Přihlásit
                    </a>

                    <a class="btn btn-primary" href="/register">
                        Registrovat
                    </a>

                {% endif %}

            </div>
        </div>
    </nav>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>