{% extends "base.html" %}

{% block title %}
Přihlášení
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow-sm">

            <div class="card-body">

                <h2 class="mb-4">
                    Přihlášení
                </h2>

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label">
                            Uživatel
                        </label>

                        <input
                            type="text"
                            class="form-control"
                            name="username"
                            required
                        >

                    </div>

                    <div class="mb-3">

                        <label class="form-label">
                            Heslo
                        </label>

                        <input
                            type="password"
                            class="form-control"
                            name="password"
                            required
                        >

                    </div>

                    <button 
                        type="submit"
                        class="btn btn-primary"
                    >

                        Přihlásit

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}